body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    margin: 40px auto;
    max-width: 400px;
}

$font-stack:    'Roboto', sans-serif;

h1,
h2,
p,
div {
  font-family: $font-stack;
  font-size: 1.4em;
  font-weight: 100;
}

#analyze-button {
  font-family: $font-stack;
  font-size: 1.2em;
  font-weight: 100;
  padding: 4px;
  margin: 10px auto;
  width: 100%;
}

.results {
  div {
    font-size: 1.2em;
    margin: 0 auto 20px;
  }
}
